@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* CSS Document */
*{
    font-family: 'Montserrat', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    color: #2b2828;
    /* font-family: Arial; */
    line-height: 25px;
}

h1 {
    color: #123357;
    font-size: 22px;
    background-color: rgba(194, 45, 52, 0.301);
}

h2 {
    color: #123357;
    font-size: 19px;
     background-color: rgba(194, 45, 52, 0.301);

    
    
}

a,a:visited {
    color: #123357;
    text-decoration: none;
    font-size: 16px;

}

a:hover {
    text-decoration: underline;
}

.topBanner {
    background-color: #6e1257;
    height: 80px;
}

.links-left {
    Padding: 15px;
    background-color: #fff0fe;
    min-height: 100%;
    font-weight: bold;
    font-size: small;
}
.inner-list{
    font-size: small;
}
.outer-list{
    font-size: small;
}
.contentPage {
    padding: 15px;
    
}